<!DOCTYPE html>
<html>
  <head>
    <title>Yeemazon - %ITEM%</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="css/master_style.css">
    <style type="text/css">

      h1 {font-size:102px;}
      h2 {font-size:24px;}
      #request {border-radius:2px;width:80px;}

    </style>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  </head>
  
  <body>  
    <h1 class="loginHeader">Yeemazon</h1>
    <div style="margin-top: 50px"></div>

    <div id="ordersToolbar">
      <button id="catalog" class="toolbarButton">Catalog</button>
      <button id="account" class="toolbarButton">Account</button>
      <button id="orders" class="toolbarButton">Orders</button>
      <button id="cart" class="toolbarButton">Cart</button>
      <button id="logout" class="toolbarButton">Log Out</button>
    </div>

    <div id="ordersPageback">
      <h2 id = "name" class="itemLabel" style="padding-top:30px;padding-left:40px">%ITEM%</h2>
      <div style="margin-top: 30px"></div>
      <div id = "holder" class="bigHolder">

        <div class="infoHolder">
          <label id="itemPrice" style="margin-left:15px;padding-top:25px">%PRICE%</label>
          <div style="margin-top: 30px"></div>
          <label id="itemDesc" style="margin-left:15px">%DESC%</label>

        </div>

        <button id="addToCart" class="bigButton">ADD TO CART</button>
      </div>

    </div>

	  <script src="js/item.js"></script>
  </body>
</html>  
  
  
